#resultimg{
	width: 300px;
	height: 360px;
}

table {
	border-spacing: 0;
    border-collapse: collapse;
    margin-top : 40px;
}

#columnLabel {
	display: table-cell;
	padding-top : 10px;
	border : 1px solid #e6e7e8;
	text-align: center;
}

tr {
	border : 1px solid #e6e7e8;
	width : 100px;
}

td {
	width : 1200px;	
}

.label {
	width : 100px;
	height : 40px;
}

.dataTd {
	width : 100%;
	height : 40px;
	padding-top : 2px;
}

.cateText {
	margin-left: 10px;
}

#searchContain {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-left: 20%;
}

.product {
	display: none;
}

#morebtn3 {
	display: none;
}
#moreBtnContain{
	display: flex;
	justify-content: center;
	width: 100%;
}